<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
<!--   Servlets -->
  
  <servlet>
  	<servlet-name>ServletPrueba</servlet-name>
  	<display-name>ServletPrueba</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletPrueba</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>FormularioTest</servlet-name>
  	<display-name>FormularioTest</display-name>
  	<description></description>
  	<servlet-class>servlet.FormularioTest</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConexionJSP</servlet-name>
  	<display-name>ConexionJSP</display-name>
  	<description></description>
  	<servlet-class>servlet.ConexionJSP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.UserServlet</servlet-class>
  	<init-param>
  		<param-name>persistenceUnit</param-name>
  		<param-value>&quot;HibernateOracle&quot;</param-value>
  		<description></description>
  	</init-param>
  </servlet>

  
<!--   mapping -->
  
  <servlet-mapping>
  	<servlet-name>ServletPrueba</servlet-name>
  	<url-pattern>/ServletPrueba</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>FormularioTest</servlet-name>
  	<url-pattern>/formulario</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/logintest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConexionJSP</servlet-name>
  	<url-pattern>/ConexionJSP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>



</web-app>
